# ignore everything in this directory
# Jekyll generated folders and files
_site/
.jekyll-metadata
.sass-cache/
.jekyll-cache/
.bundle/

# Node modules (if using Node.js)
node_modules/

# Log files
.log

# Temporary files and directories
.DS_Store
.env
.idea/
.vscode/
Thumbs.db